*{
    padding: 0px;
    margin: 0px;
    
}
.contener{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(icons8-cursor-64.png),default;

}
.content{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-flow: column wrap;
    cursor: pointer;
    
  
    
}
.login_contener{
   margin: 5px;
   padding: 5px;
   text-align: center;
   cursor: pointer;
}
.passwored_contener{
    margin: 5px;
   padding: 5px;
   text-align: center;
   cursor: pointer;
}
.input_user , .input_pass{
    width: 230px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    
}
h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: darkgray;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    z-index: 1;
    color: aliceblue;
}

.btnـCreatـaccount{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    background-color: darkgray;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    color: aliceblue;
}
.Forgot_password{
    
    top: 20px;
    position: relative;
}
.imgp{
    width: 100px;
    height: 100px;
   
   border-radius: 210px;
   
}